// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Raleway', Arial, Helvetica, sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: rgb(0, 0, 0) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(2, 113, 0) !default;

/// Link color
/// @type Color
$link-color: rgb(0, 37, 167);

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

// Colors
$grey10: rgb(229, 229, 229);
$grey20: rgb(204, 204, 204);
$grey30: rgb(179, 179, 179);
$grey40: rgb(154, 154, 154);
$grey50: rgb(129, 129, 129);
$grey60: rgb(104, 104, 104);
$grey70: rgb(79, 79, 79);
$grey80: rgb(54, 54, 54);
$grey90: rgb(29, 29, 29);

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
